#tier-selection-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#play-button-container {
  display: inline-block;
}

app-game.game-component {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
