#tier-selection-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#play-button-container {
  display: inline-block;

  .mat-progress-spinner-indeterminate-animation {
    /* keep anim slow to avoid wobble from rounding errors */
    animation-duration: 9s !important;
  }

  .mat-progress-spinner-indeterminate-animation circle {
    animation-name: progress-spinner-stroke-rotate !important;
    animation-timing-function: linear !important;
    animation-duration: 4s !important;
  }

  @keyframes progress-spinner-stroke-rotate {
    $start: 200%; /* approx 2/3 of circle circumference */
    $end: 20%;
    0% {
      stroke-dashoffset: $start;
    }
    50% {
      stroke-dashoffset: $end;
    }
    /* removing transform: rotate(720deg) causes wobble */
    100% {
      stroke-dashoffset: $start;
      transform: rotate(720deg);
    }
  }
}
