@import '../../../breakpoints';

.team-container {
  display: inline-block;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $iPhone8Plus-width) {
    display: block;
    width: 100%;
  }

  > ul.team-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    &:hover,
    &.selected {
      cursor: pointer;
      opacity: 0.6;
    }

    &:hover {
      background-color: #e8e8e8;
    }

    &.selected {
      background-color: #b1b1b1;
    }

    &.left:hover {
      -webkit-box-shadow: -10px 10px 16px -6px rgba(156, 156, 156, 1);
      -moz-box-shadow: -10px 10px 16px -6px rgba(156, 156, 156, 1);
      box-shadow: -10px 10px 16px -6px rgba(156, 156, 156, 1);
    }

    &.right:hover {
      -webkit-box-shadow: 10px 10px 16px -6px rgba(156, 156, 156, 1);
      -moz-box-shadow: 10px 10px 16px -6px rgba(156, 156, 156, 1);
      box-shadow: 10px 10px 16px -6px rgba(156, 156, 156, 1);
    }

    &.verified {
      opacity: 0.6;

      &.highlighted-win {
        background-color: #3ab33a;
      }

      &.highlighted-loss {
        background-color: #ff4a4a;
      }

      &:hover {
        box-shadow: none;
        cursor: default;
      }
    }

    > li {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-bottom: 0.25em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .selected-text {
    font-size: 3em;
    color: #505050;
    position: absolute;
    margin: auto;
    top: 72px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 32px;
    display: inline-block;
    pointer-events: none;

    &.right {
      transform: rotate(45deg);
    }

    &.left {
      transform: rotate(-45deg);
    }
  }
}
