<div class="team-container" [class.selected]="selected + '' == 'true'">
  <h2 [ngClass]="[blueTeam ? 'text-left' : 'text-right']">
    {{ blueTeam ? 'Blue Team' : 'Red Team' }}
  </h2>
  <ul
    class="team-list"
    *ngIf="team.players"
    [ngClass]="[
      blueTeam ? 'left' : 'right',
      selected + '' == 'true' ? 'selected' : '',
      verified + '' == 'true' ? 'verified' : '',
      team.win ? 'highlighted-win' : 'highlighted-loss'
    ]"
    (click)="listClick.emit()"
  >
    <li *ngFor="let player of team.players">
      <pickem-player
        [player]="player"
        [align]="[blueTeam ? 'left' : 'right']"
      ></pickem-player>
    </li>
  </ul>
  <span
    class="selected-text"
    *ngIf="selected + '' == 'true'"
    [ngClass]="[blueTeam ? 'left' : 'right']"
    >Selected</span
  >
</div>
