#tier-selection-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > mat-form-field {
    margin-right: 1em;

    @media screen and (max-width: 375px) {
      margin-right: 0;
      width: 60%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

#play-button-container {
  display: inline-block;

  mat-progress-spinner {
    margin: 0 auto;
  }

  .loading-delayed-text {
    font-style: italic;
    color: gray;
    font-size: 0.8em;
  }
}

pickem-game.game-component {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
