<div id="tier-selection-row">
  <mat-form-field>
    <mat-label>Queue</mat-label>
    <mat-select [(value)]="gameSelectionInfo.queue">
      <mat-option
        *ngFor="let queue of lolPickemService.QueueMatSelectArray"
        [disabled]="!auth.loggedIn"
        [value]="queue.value"
      >
        {{ queue.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tier</mat-label>
    <mat-select [(value)]="gameSelectionInfo.tier">
      <mat-option
        *ngFor="let tier of lolPickemService.TierMatSelectArray"
        [disabled]="!auth.loggedIn"
        [value]="tier.value"
      >
        {{ tier.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Division</mat-label>
    <mat-select [(value)]="gameSelectionInfo.division">
      <mat-option
        *ngFor="let division of lolPickemService.DivisionMatSelectArray"
        [disabled]="!auth.loggedIn"
        [value]="division.value"
      >
        {{ division.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div id="play-button-container">
  <mat-progress-spinner
    [color]="'accent'"
    [mode]="'indeterminate'"
    [diameter]="47"
    *ngIf="gameIsLoading"
  ></mat-progress-spinner>
  <span
    class="loading-delayed-text"
    *ngIf="gameIsLoading && gameLoadingIsDelayed"
    >Loading the game is taking longer than usual.
  </span>
  <button
    mat-fab
    title="Play Pick'em Button"
    color="primary"
    (click)="onPlay()"
    *ngIf="!gameIsLoading"
    [disabled]="!auth.loggedIn || gameIsLoading"
  >
    Play
  </button>
</div>
<div>
  <app-game
    class="game-component position-relative"
    *ngIf="showGame"
    [game]="game"
    (playAgainClick)="onGamePlayAgain()"
  ></app-game>
</div>
