footer.footer {
  position: absolute;
  bottom: -60px;
  width: 100%;
  padding: 10px 0;
  background: #3f51b5;
  > p {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 10px;
    text-align: right;

    > a > #git-hub-logo-mark {
      max-width: 40px;
      vertical-align: middle;
    }
  }
}
