footer.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  background: #3f51b5;
  justify-content: space-between;
  display: flex;

  > a {
    color: white;

    &.disclaimer-link {
      padding-top: 3px;
    }
  }

  > p {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 10px;
    display: inline-block;

    > a > #git-hub-logo-mark {
      max-width: 40px;
      vertical-align: middle;
    }
  }
}
