.mat-toolbar-row {
  &.header-first-row {
    justify-content: space-between;
  }

  &.header-second-row {
    justify-content: center;
  }

  #header-home-link {
    color: white;
    text-decoration: none;
  }

  #header-welcome-text {
    font-size: 14px;
    padding-right: 16px;
    border-right: 1px solid white;
  }
}
