<mat-toolbar color="primary" role="heading" aria-label="Heading Menu">
  <mat-toolbar-row class="header-first-row">
    <span
      ><a
        id="header-home-link"
        routerLink="."
        title="Link to Home Page"
        class="padding-right-10"
        >Lol Pick'em</a
      >
      <a
        mat-button
        routerLink="./about"
        title="Link to About Page"
        class="hide-iPad-down"
      >
        About </a
      ><a
        mat-button
        routerLink="./play"
        title="Link to Play Page"
        class="hide-iPad-down"
      >
        Play
      </a>
      <a
        mat-button
        routerLink="./history"
        title="Link to History Page"
        class="hide-iPad-down"
        *ngIf="auth.loggedIn"
      >
        History
      </a>
      <a
        mat-button
        routerLink="./release-notes"
        title="Link to Release Notes Page"
        class="hide-iPad-down"
      >
        Release Notes
      </a>
    </span>
    <span>
      <a
        mat-button
        (click)="auth.login()"
        *ngIf="!auth.loggedIn"
        title="Login Button"
      >
        Log In
      </a>
      <span
        *ngIf="auth.userProfile$ | async as profile"
        id="header-welcome-text"
        >Hi {{ profile.nickname ? profile.nickname : profile.email }}</span
      >
      <a
        mat-button
        (click)="auth.logout()"
        *ngIf="auth.loggedIn"
        title="Logout Button"
      >
        Log Out
      </a>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="hide-iPad-up header-second-row">
    <span>
      <a mat-button routerLink="./about" title="Mobile Link to About Page">
        About </a
      ><a mat-button routerLink="./play" title="Mobile Link to Play Page">
        Play
      </a>
      <a
        mat-button
        routerLink="./history"
        title="Mobile Link to History Page"
        *ngIf="auth.loggedIn"
      >
        History
      </a>
      <a
        mat-button
        routerLink="./release-notes"
        title="Mobile Link to Release Notes Page"
      >
        Release Notes
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
