<div id="home-container">
  <h1>
    Welcome to Lol Pick'em!
  </h1>
  <h3>A pick'em style game for League of Legends fans.</h3>
  <p class="margin-bottom-0">
    How to play:
  </p>
  <ul id="instructions-list">
    <li>
      Click the "play" button - you will be presented with a real LoL matchup
    </li>
    <li>
      Select which team you think won the match, based on team composition
    </li>
    <li>Click the "verify" button to see the correct answer</li>
  </ul>
  <app-play></app-play>
</div>
