<div class="release-notes-container base-container">
  <h1>
    Release Notes
  </h1>
  <p>
    Please see the accordion below for release notes of all the app releases.
  </p>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Version 1.0.0
        </mat-panel-title>
        <mat-panel-description>
          3/22/20 - First Production Release
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h3 class="margin-bottom-0 features-title">
        New Features
      </h3>
      <ul class="release-notes-list">
        <li>
          Games retrieved from Lol API
        </li>
        <li>Base pick'em game functionality</li>
        <li>
          User authentication via Auth0
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
