<h1>
  Release Notes
</h1>
<p>
  Please see the accordion below for release notes of all the app releases.
</p>
<mat-accordion>
  <mat-expansion-panel class="2.0.1-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Version 2.0.1
      </mat-panel-title>
      <mat-panel-description>
        5/7/20 - Summoner Spell Image Fix
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h3 class="improvements-title orange">
      Improvements
    </h3>
    <ul>
      <li>
        Cleared any loaded game data when the summoner search type (eg. random
        vs search) is changed
      </li>
      <li>Added a loading circle on the user history page</li>
    </ul>
    <h3 class="bugs-title red">
      Bugs Fixed
    </h3>
    <ul>
      <li>Corrected the displaying of the summoner spell Ghost</li>
      <li>Corrected the displaying of the summoner spell Exhaust</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel class="2.0.0-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Version 2.0.0
      </mat-panel-title>
      <mat-panel-description>
        4/19/20 - Summoner Search Release
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h3 class="new-features-title green">
      New Features
    </h3>
    <ul>
      <li>
        Added the ability to search for summoners by name, rather than only
        choosing random ones
      </li>
    </ul>
    <h3 class="improvements-title orange">
      Improvements
    </h3>
    <ul>
      <li>
        Improved the styling on the game results in the User History table
      </li>
      <li>Added pagination to the User History table</li>
    </ul>
    <h3 class="bugs-title red">
      Bugs Fixed
    </h3>
    <ul>
      <li>Corrected alignment issues with longer names</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel class="1.1.0-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Version 1.1.0
      </mat-panel-title>
      <mat-panel-description>
        4/5/20 - User History Page Release
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h3 class="new-features-title green">
      New Features
    </h3>
    <ul>
      <li>
        Added
        <a routerLink="/history" title="Link to History Page">History Page</a>
        with a user's history of all games played
      </li>
      <li>Added logo to favicon</li>
      <li>
        Added
        <a
          routerLink="/riot-games-disclaimer"
          title="Link to Riot Games Disclaimer Page"
          >Rio Riot Disclaimer Page</a
        >
      </li>
    </ul>
    <h3 class="improvements-title orange">
      Improvements
    </h3>
    <ul>
      <li>Fixed mobile styling of buttons</li>
      <li>Changed visual indication of guess (text) based on color</li>
    </ul>
    <h3 class="bugs-title red">
      Bugs Fixed
    </h3>
    <ul>
      <li>
        Corrected the display of 429 errors returned from the Riot API
      </li>
      <li>Fixed notifications of errors in the UI not parsing correctly</li>
      <li>Fixed refreshing pages other than the root gave 404</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel class="1.0.0-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Version 1.0.0
      </mat-panel-title>
      <mat-panel-description>
        3/22/20 - First Production Release
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h3 class="new-features-title green">
      New Features
    </h3>
    <ul>
      <li>
        Games retrieved from Lol API
      </li>
      <li>Base pick'em game functionality</li>
      <li>
        User authentication via Auth0
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
