@import '~src/breakpoints';

.player-container {
  display: flex;
  align-items: center;
  min-width: 430px;

  @media only screen and (max-width: $iPhone8Plus-width) {
    min-width: 350px;
  }

  &.loading {
    opacity: 0.7;
  }

  > .summoner-skills-container {
    order: 2;
    display: grid;

    img {
      width: 50px;
    }
  }

  > img,
  > .player-info {
    visibility: hidden;
  }

  &.show-content {
    > img,
    > .summoner-skills-container,
    > .player-info {
      visibility: initial;
    }
  }

  > .player-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    > span {
      width: 100%;
    }
  }

  > .champion-image {
    max-width: 100px;
  }

  &.left {
    > .player-info {
      text-align: left;
      order: 3;
    }

    > .summoner-skills-container {
      margin-right: 1em;
    }
  }

  &.right {
    > .player-info {
      text-align: right;
    }

    > .summoner-skills-container {
      margin-left: 1em;
    }

    > .champion-image {
      order: 3;
    }
  }

  .mat-progress-bar {
    position: absolute;
  }
}
