<div
  class="player-container"
  [ngClass]="[
    align == 'left' ? 'left' : 'right',
    championImageLoaded.toString() == 'true' ? 'show-content' : '',
    !championImageLoaded || !spell1ImageLoaded || !spell2ImageLoaded
      ? 'loading'
      : ''
  ]"
  *ngIf="player"
>
  <img
    class="champion-image"
    src="{{ player.championSquareImageUrl }}"
    (load)="onChampionImageLoad()"
  />
  <div class="summoner-skills-container">
    <img
      [src]="constants.DataDragon.SpellImageUrl + player.spell1.imageName"
      (load)="onSpell1Load()"
    /><img
      [src]="constants.DataDragon.SpellImageUrl + player.spell2.imageName"
      (load)="onSpell2Load()"
    />
  </div>
  <div class="player-info">
    <span class="summoner-name">{{ player.summonerName }}</span
    ><br />
    <span class="champion-name">{{ player.championName }}</span>
  </div>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!championImageLoaded || !spell1ImageLoaded || !spell2ImageLoaded"
  ></mat-progress-bar>
</div>
