.player-container {
  display: flex;
  align-items: center;
  min-width: 430px;
  height: 100px;

  > img,
  > .player-info {
    visibility: hidden;
  }

  &.show-player {
    > img,
    > .player-info {
      visibility: initial;
    }
  }

  > .player-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    > span {
      width: 100%;
    }
  }

  > .champion-image {
    max-width: 100px;
  }

  &.left {
    > .player-info {
      text-align: left;
    }

    > .champion-image {
      margin-right: 1em;
    }
  }

  &.right {
    > .player-info {
      text-align: right;
    }

    > .champion-image {
      order: 2;
      margin-left: 1em;
    }
  }

  .mat-progress-bar {
    position: absolute;
  }
}
