@import '../../breakpoints';

.team-container {
  display: inline-block;

  @media only screen and (max-width: $iPhone8Plus-width) {
    display: block;
    width: 100%;
  }

  > ul.team-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    > li {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }
}
