@import '../../../breakpoints';

.title-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media only screen and (max-width: $iPhone8Plus-width) {
    text-align: center;
    justify-content: center;
  }

  > h1 {
    margin-right: 15px;

    @media only screen and (max-width: $iPhone8Plus-width) {
      font-size: 1.4em;
    }
  }

  > p {
    width: 100%;
  }
}

.histories-table-container {
  overflow: auto;

  @media only screen and (max-width: $iPhone8Plus-width) {
    box-shadow: none;
  }

  > table {
    width: 100%;

    .expanded-history-row {
      height: 0;
    }

    .history-row {
      &:not(.expanded-row):hover {
        background: whitesmoke;
        cursor: pointer;
      }

      &:not(.expanded-row):active {
        background: #efefef;
      }

      > td {
        border-bottom-width: 0;
      }
    }

    .expanded-history-detail {
      overflow: hidden;
      display: flex;
      justify-content: center;

      > .blue-team-details,
      > .red-team-details {
        min-width: 150px;

        > h3 {
          margin-bottom: 0.5em;
          text-decoration: underline;
        }

        > ul {
          list-style: none;
          padding: 0;
          margin-top: 0;
        }
      }

      > .blue-team-details {
        text-align: left;
      }

      > .red-team-details {
        text-align: right;
      }
    }
  }
}
