<div class="title-container">
  <h1 class="display-inline-block">My Pick'em History</h1>
  <button
    mat-fab
    color="primary"
    aria-label="Refresh histories button"
    title="Refresh Histories"
    [disabled]="!auth.loggedIn || historiesLoading"
    (click)="refreshHistories()"
  >
    <mat-icon>refresh</mat-icon>
  </button>
  <p>Take a look at the history of the games you have played below:</p>
</div>
<div
  class="histories-table-container mat-elevation-z8"
  [hidden]="historiesLoading || histories.length === 0"
>
  <table
    mat-table
    matSortActive="timestamp"
    matSortDirection="desc"
    [dataSource]="historiesDataSource"
    matSort
    multiTemplateDataRows
    aria-label="User Histories Table"
  >
    <!-- Game Id Column -->
    <ng-container matColumnDef="gameId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Game Id</th>
      <td mat-cell *matCellDef="let element">{{ element.game.gameId }}</td>
    </ng-container>

    <!-- Guessed Team Column -->
    <ng-container matColumnDef="guessedTeam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Guess
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          [ngClass]="element.guessedCorrectly + '' === 'true' ? 'green' : 'red'"
          >{{
            element.guessedTeam === 100
              ? 'Red'
              : element.guessedTeam === 200
              ? 'Blue'
              : 'N/A'
          }}</span
        >
      </td>
    </ng-container>

    <!-- Guessed Correctly Column -->
    <ng-container matColumnDef="guessedCorrectly">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Guessed Correctly
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.guessedCorrectly }}
      </td>
    </ng-container>

    <!-- Timestamp Column -->
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
      <td mat-cell *matCellDef="let element">
        {{ element.timestamp | date: 'short' }}
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedHistoryDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="historiesTableColumns.length"
      >
        <div
          class="expanded-history-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <pickem-team
            [team]="element.game.gameDetails.blueTeam"
            [blueTeam]="true"
            [selected]="[element.guessedTeam === _teamType.blue]"
            [verified]="[
              element.guessedCorrectly + '' === 'tue' &&
                element.guessedTeam === _teamType.blue
            ]"
            [readOnly]="true"
            [win]="element.game.gameDetails.blueTeam.win"
          ></pickem-team>
          <pickem-team
            [team]="element.game.gameDetails.redTeam"
            [blueTeam]="false"
            [selected]="[element.guessedTeam === _teamType.red]"
            [verified]="[
              element.guessedCorrectly + '' === 'tue' &&
                element.guessedTeam === _teamType.red
            ]"
            [readOnly]="true"
            [win]="element.game.gameDetails.redTeam.win"
          ></pickem-team>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="historiesTableColumns"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: historiesTableColumns"
      class="history-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedHistoryDetail']"
      class="expanded-history-row"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
