@import '_breakpoints';

body {
  margin: 0;
}

/* General Classes */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}

.margin-0 {
  margin: 0;
}
.margin-top-0 {
  margin-top: 0;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}

.padding-0 {
  padding: 0;
}
.padding-top-0 {
  padding-top: 0;
}
.padding-bottom-0 {
  padding-bottom: 0;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-top-25 {
  padding-top: 25px;
}
.padding-bottom-25 {
  padding-bottom: 25px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-bottom-40 {
  padding-bottom: 40px;
}

.bold {
  font-weight: bold;
}

.mat-progress-spinner-indeterminate-animation {
  /* keep anim slow to avoid wobble from rounding errors */
  animation-duration: 9s !important;
}

.mat-progress-spinner-indeterminate-animation circle {
  animation-name: progress-spinner-stroke-rotate !important;
  animation-timing-function: linear !important;
  animation-duration: 4s !important;
}

@keyframes progress-spinner-stroke-rotate {
  $start: 200%; /* approx 2/3 of circle circumference */
  $end: 20%;
  0% {
    stroke-dashoffset: $start;
  }
  50% {
    stroke-dashoffset: $end;
  }
  /* removing transform: rotate(720deg) causes wobble */
  100% {
    stroke-dashoffset: $start;
    transform: rotate(720deg);
  }
}
